.new{
  background-color: #f1cd93;
  height:100%;
  width:100%;

  &__header{
    width:70%;
    margin: 0 auto;
    &__title{
      font-size: 20px;
      font-weight: bold;
    }
  }
  &__main{
    height:100%;
    width:70%;
    background-color:rgb(245, 245, 245);
    margin: 0 auto;
    padding: 10px;

    &__top{
      display: flex;
      &__category{
        height:35px;
        width:25%;
        position: relative;
        &__input{
          background-color: #fff;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          height:35px;
          line-height: 35px;
          width:100%;
          border: 1px solid #ccc;
          padding-left: 10px;
        }
        .fas.fa-chevron-down{
          pointer-events: none;
          position: absolute;
          right: 5px;
          top: 30%;
          color: rgb(136, 136, 136);
        }
      }
    }

    &__title{
      height:50px;
      width:100%;
      margin-top: 5px;
      display: flex;
      &__input{
        height:50px;
        width:80%;
        padding-left: 10px;
      }
      &__difficulty{
        height:50px;
        width:20%;
        position: relative;
        &__input{
          background-color: #fff;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          padding-left: 10px;
          height:50px;
          width:100%;
        }
        .fas.fa-chevron-down{
          pointer-events: none;
          position: absolute;
          right: 5px;
          top: 30%;
          color: rgb(136, 136, 136);
        }
      }
    }

    &__upper-half{
      min-height:100%;
      width:100%;
      display: flex;
      justify-content: center;

      &__left{
        height:300px;
        width:50%;
        padding: 5px 5px 5px 0;
        &__label{
          background-color: rgb(246, 220, 178);
          height: 100%;
          border-width: 1px;
          border-style: dashed;
          border-color: rgb(204, 204, 204);
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;

          &__input{
            display: none;
          }
          i{
            margin-bottom: 8px;
          }
          &:hover {
            opacity: 0.5;
          }
        }
        &__figure{
          background-color: rgb(246, 220, 178);
          height: 100%;
          border-width: 1px;
          border-style: dashed;
          border-color: rgb(204, 204, 204);
          align-items: center;
          position: relative;
          img{
            object-fit: contain;
          }

          &__button{
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: #fff;
            cursor: pointer;
          }
        }
      }
      &__right{
        height:100%;
        width:50%;

        &__text{
          height:100px;
          width:100%;
          padding: 5px 0 5px 5px;
          &__input{
            height:100%;
            width:100%;
            padding-left: 10px;
          }
        }
        &__title{
          height:30px;
          width:100%;
          text-align: center;
        }
        &__ingredients{
          height:100%;
          width:100%;
          display: flex;
          justify-content: center;

          &__name{
            height:30px;
            width:70%;
            &__input{
              width:100%;
              padding-left: 10px;
            }
          }
          &__quantity{
            height:30px;
            width:30%;
            &__input{
              width:100%;
            }
          }
          #quantity_first{
            margin-right: 14px;
          }
        }
      }
    }
    &__maked{
      height:30px;
      width:100%;
      font-size: 20px;
      font-weight: bold;
    }
    &__makedbox{
      height:100%;
      width:100%;
      display: flex;
      flex-wrap: wrap;
      &__list{
        height:100%;
        width: 20%;
        padding-right: 5px;
        position: relative;
        &__image{
          height:100px;
          width:100%;
          img{
            object-fit: contain;
          }
          &__label{
            background-color: rgb(246, 220, 178);
            height: 100%;
            border-width: 1px;
            border-style: dashed;
            border-color: rgb(204, 204, 204);
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            &__input{
              display: none;
            }
            &:hover {
              opacity: 0.5;
            }
          }
          &__figure{
            background-color: rgb(246, 220, 178);
            height: 100%;
            border-width: 1px;
            border-style: dashed;
            border-color: rgb(204, 204, 204);
            align-items: center;
            position: relative;
            img{
              object-fit: contain;
            }
  
            &__button{
              position: absolute;
              right: 0;
              bottom: 0;
              background-color: #fff;
              cursor: pointer;
            }
          }
        }
        &__text{
          height:200px;
          width:100%;
          &__input{
            height:200px;
            width:100%;
            
          }
        }
        &__delete{
          position: absolute;
          bottom: 0;
          right: 10px;
        }
      }
    }
    &__point{
      margin-top: 5px;
      &__input{
        height:70px;
        width:100%;
      }
    }
    &__submit{
      margin: 0 auto;
      width:70%;
      &__btn{
        background-color: orange;
        height:60px;
        width:100%;
        font-size: 20px;
        font-weight: bold;
        
        margin-bottom: 5px;
        &:hover {
          opacity: 0.5;
        }
      }
      &__return{
        background-color: #ccc;
        height:50px;
        width:100%;
        font-size: 17px;
        line-height:50px;
        font-weight: bold;
        text-align: center;
        display: block;
      }
    }
  }
}