.user_show{
  background-color: #f1cd93;
  height:100%;
  width:100%;

  &__header{
    width:70%;
    margin: 0 auto;
    &__titl{
      p{
        font-size: 20px;
        font-weight: bold;
      }
    }
  }

  &__user_date{
    height: 100%;
    width:70%;
    margin: 10px auto 0;
    background-color: rgb(246, 220, 178);

    &__titl{
      font-size:20px;
      font-weight: bold;
      text-align: center;
    }
    &__box{
      display: flex;
      &__left{
        width: 30%;
        &__nickname{
          border: 1px solid brown;
          border-radius: 0;
          text-align: center;
        }
        &__email{
          border: 1px solid brown;
          border-radius: 0;
          text-align: center;
        }
        &__sex{
          border: 1px solid brown;
          border-radius: 0;
          text-align: center;
        }
      }
      &__right{
        width: 70%;
        &__nickname{
          border: 1px solid brown;
          border-radius: 0;
          padding-left: 10px;
        }
        &__email{
          border: 1px solid brown;
          border-radius: 0;
          padding-left: 10px;
        }
        &__sex{
          border: 1px solid brown;
          border-radius: 0;
          padding-left: 10px;
        }
      }
    }
    &__link{
      text-align: center;
      padding: 5px;
      .edit_user-link{
        background-color: orange;
        margin: 0 auto;
        padding: 5px;
      }
    }
  }
  

  &__main{
    height: 100%;
    width:70%;
    margin: 20px auto ;
    background-color: rgb(246, 220, 178);

    &__titl{
      font-size:20px;
      font-weight: bold;
      text-align: center;
      padding: 0.5% 0;
    }
    &__recipes,&__likes{
      display: flex;
      flex-wrap: wrap;

      &__contents{
        width: 19%;
        margin: 0.5%;
        background-color: orange;
          
        &__tag{
          display: flex;
          &__difficulty{
            background-color: rgb(120, 224, 94);
            width:30%;
            text-align: center;
          }
          &__want{
            width:70%;
            text-align: center;
          }
        }
        &__title{
          height: 50px;
          font-weight: bold;
          word-break:break-all;
          overflow:scroll;
        }
        &__image{
          height: 150px;
          img{
            object-fit: contain;
          }
        }
        &__text{
          font-weight: bold;
          word-break:break-all;
          height: 100px;
          overflow:scroll;

        }
      }
    }
  }
}